<h1>All Failed Jobs</h1>

<%= will_paginate %>

<ul class="jobs col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Log Date</th>
      <th>Pool Name</th>
      <th>Server List</th>
      <th>Fail Name</th>
      <td>#</td>
    </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
        <tr>
          <td><%= job.id %></td>
          <td><%= job.logdate %></td>
          <td><%= job.poolname %></td>
          <td><%= job.serverlist %></td>
          <td><%= job.failtime %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <%= link_to "delete", job, method: :delete,
                              data: { confirm: "You sure?" },
                              role:"menuitem"%>
                </li>
                <li role="presentation">
                  <%= link_to "edit", edit_job_path(job) %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</ul>
<%= will_paginate %>